XMPP RFCs : RFC6120/RFC6121/RFC6122 and more

XMPP RFCs have been updated:
Old:
- https://tools.ietf.org/html/rfc3920
- https://tools.ietf.org/html/rfc3921

New:
- https://tools.ietf.org/html/rfc6120 -> https://tools.ietf.org/html/rfc7590
- https://tools.ietf.org/html/rfc6121
- https://tools.ietf.org/html/rfc6122 -> https://tools.ietf.org/html/rfc7622

Note about old and new:
- https://tools.ietf.org/html/draft-cridland-xmpp-session-01

RFC3920 -> RFC6120
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3920.txt&url2=https://www.ietf.org/rfc/rfc6120.txt

RFC3921 -> RFC6121
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3921.txt&url2=https://www.ietf.org/rfc/rfc6121.txt

RFC6122 -> RFC7622
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc6122.txt&url2=https://www.ietf.org/rfc/rfc7622.txt
